*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    --main-bg-color: hsl(233, 47%, 7%);
    /* very dark blue */
    --card-bg-color: hsl(244, 38%, 16%);
    /* dark desaturated blue */
    --accent-color: hsl(277, 64%, 61%);
    /* soft violet */
    --main-heading-and-stats-color: hsl(0, 0%, 100%);
    /* white */
    --para-color: hsla(0, 0%, 100%, 0.75);
    /* slightly transparent white */
    --stat-heading-color: hsla(0, 0%, 100%, 0.6);
    /* slightly more transparent white */

}

body{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    /*  font-family: 'Lexend Deca', sans-serif; */
}

.main-card{
    
}